<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <title>MediTrack - Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-left">
            <h1>Welcome To,</h1>
            <h2 class="meditrack-text" style="margin-left: 20px;">MediTrack</h2>

            <!-- Login Form with POST method -->
            <div class="login-form">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="input-container">
                        <input type="text" name="username" placeholder="Username or Email" class="input-box" required>
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" placeholder="Password" class="input-box" required>
                    </div>

                    <a href="#" class="forgot-link">Forgot?</a>
                    <button type="submit" class="login-btn">Login</button>
                </form>
            </div>
        </div>

        <!-- Image Section -->
        <div class="login-right">
            <img src="{% static 'images/logmedi.jpg' %}" alt="Login Image">
        </div>
    </div>
</body>
</html>
